<!DOCTYPE html>
<html>
  <head>
      <title>Instavans Shipper Dashboard</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/utils/bootstrap.min.css' />
      <link rel='stylesheet' href='/stylesheets/global.css' />
      {{#each stylesheets }}
          <link rel="stylesheet" href="{{{this}}}" />
      {{/each}}
  </head>
  <body>

    {{{body}}}

    <script src="/javascripts/utils/jquery.min.js"></script>
    <script src="/javascripts/utils/bootstrap.min.js"></script>
    <script src="/javascripts/global.js"></script>
    {{#each javascripts }}
        <script src="{{{this}}}"></script>
    {{/each}}
  </body>
</html>
